# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# IDE's
.vscode

# local env files
.env*.local

# typescript
*.tsbuildinfo
next-env.d.ts

# MacOS .DS_Store
.DS_Store
