.button {
  width: 50%;
}

.portfolio {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.section {
  width: 50%;
}

.image {
  border-radius: 100px;
}

.title {
  margin-top: 20px;
}

.name{
  color: var(--primary)
}